[submodule "appiko-setup"]
	path = appiko-setup
	url = git@github.com:Appiko/appiko-setup.git
[submodule "long-range"]
	path = long-range
	url = git@github.com:Appiko/long-range.git
[submodule "senseEle-App"]
	path = senseEle-App
	url = git@github.com:Appiko/senseEle-App.git
[submodule "setup-app"]
	path = setup-app
	url = git@github.com:Appiko/appiko-setup.git
